.blog2{
/* display: none; */
/* visibility: hidden; */
}
.blog{
    border: 15px solid aqua;
    margin: 30px;
    padding: 15px;
    text-align: justify;
    box-shadow: 5px 5px 13px red;
}
#wel{
    height: 350px;
    background-color: antiquewhite;
    background-image: url(/images/1734707822620.jpg);
    /* background-repeat: repeat-x; */

}