nav, ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 22px;
    padding: 6px;
}
nav a{
    text-decoration: none;
    color: wheat;
}

nav li:hover{
    background-color: rgb(0, 195, 195);
}
nav{
    text-align: center;
}